// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'theme/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Theme
@import 'theme/bootswatch';

body{
    background-color: #f6f6f9;
}

.navbar{
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.navbar-brand{
    font-weight: bold;
    font-size: 1.3rem;
}

.card-header h1,h2,h3,h4{
    margin:0;
}

.card-header{
    background-color: white;
}

.roundedCorners {
    padding: 0 10px;
   border-radius: 1em;
   -moz-border-radius: 1em;
   -webkit-border-radius: 1em;
 }

.tablesorter-header {
    position: relative;
}

.tablesorter-header::before,
.tablesorter-header::after {
    position: absolute;
    right: 0.75em;
    font-family: 'FontAwesome';
    opacity: 0.3;
}

.tablesorter-header::before {
content: '\f0de';
    top: calc(50% - 0.75em);
}

.tablesorter-header::after {
content: '\f0dd';
    bottom: calc(50% - 0.75em);
}

.tablesorter-header.tablesorter-headerAsc::before,
.tablesorter-header.tablesorter-headerDesc::after {
    opacity: 1;
}

.card-header{
    .form-group{
        margin: 0.3rem;
    }
    button .fa{
        margin-right: 0.5em;
    }
}

footer{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.subject_ic{
    font-size: 1.2rem;
}

.subject_header{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
