// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'theme/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Theme
@import 'theme/bootswatch';

body{
    background-color: #f6f6f9;
}

.navbar{
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.navbar-brand{
    font-weight: bold;
    font-size: 1.3rem;
}

.card-header h1,h2,h3,h4{
    margin:0;
}

.card-header{
    background-color: white;
}

.roundedCorners {
    padding: 0 10px;
   border-radius: 1em;
   -moz-border-radius: 1em;
   -webkit-border-radius: 1em;
 }

.tablesorter-header {
    position: relative;
}

.tablesorter-header::before,
.tablesorter-header::after {
    position: absolute;
    right: 0.75em;
    font-family: 'FontAwesome';
    opacity: 0.3;
}

.tablesorter-header::before {
content: '\f0de';
    top: calc(50% - 0.75em);
}

.tablesorter-header::after {
content: '\f0dd';
    bottom: calc(50% - 0.75em);
}

.tablesorter-header.tablesorter-headerAsc::before,
.tablesorter-header.tablesorter-headerDesc::after {
    opacity: 1;
}

.card-header{
    .form-group{
        margin: 0.3rem;
    }
    button .fa{
        margin-right: 0.5em;
    }
}

footer{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.subject_ic{
    font-size: 1.2rem;
}

.subject_header{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

 #spravce-timeline{
    .ti-tt {
        min-height: 100px;
        min-width: 300px;
        padding: 1em 1.5em 0 1em;
    }

    .ti-title {
        font-size: 1rem;
        display: block;
        font-weight: bold;
        width: 100%;
        border-bottom: 1px solid grey;
        margin-bottom: 0.5rem;
        padding-bottom: 0.2rem;
    }

    dl.ti-info {
        display: grid;
        grid-template-columns: max-content auto;
        grid-gap: 0 1rem;
    }

    dt {
        grid-column-start: 1;
    }

    dd {
        grid-column-start: 2;
    }
 }

.spravce-info, .veritel-info{
    #map {
        width: 100%;
        min-height: 500px;
    }

    .info {
        padding: 6px 8px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

    .table th,
    .table td {
        padding: 0.374rem !important;
    }

    .key-value td {
        text-align:right;
    }
}

.detail-btn{
    padding: 0.1rem 0.75rem !important;
}

.btn-link{
    font-weight: bold;
    font-size: 1em;
}

/* Vytvoreni prostoru na sipky pro razeni u nadpisu tabulky zarovnanych doprava*/
.text-right.tablesorter-header {
    padding-right: 1.6em;
}

/* Moznost posunu kontejneru s tabulkou pro zamezeni zobrazeni casti tabulky mimo stranku*/
.table-card{
overflow-x: auto;
}

.chartBox.sm{
    max-height: 200px;
}
.chartBox.detail{
    min-height: 400px;
}

/* slider*/
/* Slider */
input[type=range] {
width: 100%;
margin: 6.1px 0;
background-color: transparent;
-webkit-appearance: none;
}
input[type=range]:focus {
outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
background: #2271a9;
border: 0.2px solid #010101;
border-radius: 1.3px;
width: 100%;
height: 3.8px;
cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
margin-top: -6.3px;
width: 16px;
height: 16px;
background: #ffffff;
border: 1px solid #000000;
border-radius: 5px;
cursor: pointer;
-webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
background: #2271a9;
}
input[type=range]::-moz-range-track {
background: #2271a9;
border: 0.2px solid #010101;
border-radius: 1.3px;
width: 100%;
height: 3.8px;
cursor: pointer;
}
input[type=range]::-moz-range-thumb {
width: 16px;
height: 16px;
background: #ffffff;
border: 1px solid #000000;
border-radius: 5px;
cursor: pointer;
}
input[type=range]::-ms-track {
background: transparent;
border-color: transparent;
border-width: 6.1px 0;
color: transparent;
width: 100%;
height: 3.8px;
cursor: pointer;
}
input[type=range]::-ms-fill-lower {
background: #2271a9;
border: 0.2px solid #010101;
border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
background: #2271a9;
border: 0.2px solid #010101;
border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
width: 16px;
height: 16px;
background: #ffffff;
border: 1px solid #000000;
border-radius: 5px;
cursor: pointer;
margin-top: 0px;
/*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
background: #2271a9;
}
input[type=range]:focus::-ms-fill-upper {
background: #2271a9;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
/* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
input[type=range] {
margin: 0;
/*Edge starts the margin from the thumb, not the track as other browsers do*/
}
}

/* Hlavni stranka ---------------------------- */
.mainpage p {
    font-size: 1.04rem;
    text-align: justify;
}
.isir-ex-img-wrap{
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}
.isir-ex-img{
    position: relative;
    height: 100%;
}
.isir-ex-img img{
    box-shadow:
        0 0 8px rgb(0 0 0 / 33%),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086);
}

.isir-ex-img {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.isir-ex-img img{
    margin-bottom: 2rem;
    width: 100%;
    background-color: white;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .isir-ex-img {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .isir-ex-img img{
        margin-bottom: 0;
        width: 28%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .isir-ex-img {
        display: block;
    }

    .isir-ex-img-wrap{
        margin-bottom: 0;
    }

    .isir-ex-img img{
        position: absolute;
        width: 92%;
    }

    .isir-ex-img .img1{
        z-index: 0;
    }
    .isir-ex-img .img2{
        z-index: 3;
        top: 50%;
        transform: translate(0,-50%);
        right: 0;

        padding-top: 1.5%;
    }
    .isir-ex-img .img3{
        z-index: 2;
        bottom: 0;
    }
}
/* End/Hlavni stranka ---------------------------- */
