// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'theme/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Theme
@import 'theme/bootswatch';

body{
    background-color: #f6f6f9;
}

.navbar{
    font-size: 1.1rem;
}

.navbar-brand{
    font-weight: bold;
    font-size: 1.3rem;
}
